.Home-container {
  background: url("../images/home.png") no-repeat center center/cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .Home-container {
    background: url("../images/home_m.png") no-repeat center center/ cover;
  }
}

.Home-btns > * {
  margin-right: 10px;
}
