.Home-container {
  background: url("../modules/home.png") no-repeat center center/cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.Home-btns {
  position: absolute;
  left: var(--l);
  bottom: var(--l);
  cursor: pointer;
}
.Home-btns .font {
  margin-right: 10px;
}
