.Profile-container {
  margin-right: 60px;
  padding: 5%;
  position: relative;
  height: auto;
  min-height: 100% !important;
}

.Profile-avatarContainer {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  background-color: var(--darkgrey);
}

.Profile-name {
  padding: 2rem 0 0.3rem;
  font-size: 24px;
}
.Profile-info {
  font-size: var(--m);
  color: var(--primary);
  margin-bottom: 40px;
  /* display:flex;
  justify-content:center */
}

.Profile-line {
  border-color: var(--grey);
}

.Profile-subContainer {
  padding: 0 20px 0 20px;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-flow: row wrap;
}

.Profile-subTitle {
  font-weight: 300;
  font-size: 24px;
  margin: var(--m) var(--s);
}

.middle {
  justify-content: flex-end;
  border-right: 2px solid var(--light-blue);
  height: 100%;
}

.Profile-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: var(--l);
}
