.Bottle-tag {
  background-color: var(--primary);
  color: var(--white);
  font-style: italic;
  font-size: 12px;
  border-radius: 4px;
  padding: 5px 10px;
  width: fit-content;
}
.bottle-icon {
  width: 40px;
  cursor: pointer;
}
.bottle {
  padding: 0 10px;
}

.Home-bottle-icon {
  width: 100px;
  cursor: pointer;
}

.Home-floating {
  animation: floating 1.75s ease-in-out infinite alternate;
}

@keyframes floating {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}
