.Bottle-tag {
  background-color: var(--primary);
  color: var(--white);
  font-style: italic;
  font-size: 12px;
  border-radius: 4px;
  padding: 5px 10px;
  width: fit-content;
}
.bottle-icon {
  width: 40px;
  cursor: pointer;
}
.bottle {
  padding: 0 10px;
}
