.bukabuka-help {
  z-index: 20;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: opacity 2s linear;
  cursor: pointer;
  /* pointer-events: none; */
}

.bukabuka-container {
  width: 25vw;
  max-width: 200px;
  position: absolute;
  right: 100px;
  bottom: 60px;
  z-index: 10;
}

.bukabuka {
  cursor: pointer;
}

.glowing-btns {
  color: white;
}

.btns-container {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: var(--sidebar);
  padding: var(--l) 0 var(--l);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
}

.btns-container > * {
  margin: 10px;
  padding-bottom: 1px;
  visibility: hidden;
}

.glowing {
  z-index: 100;
  filter: drop-shadow(0 0 4px white);
  pointer-events: none;
  visibility: visible;
}
