.NewStory-container {
  margin-top: var(--sm);
}
.NewStory-container label {
  margin-bottom: var(--s);
  color: var(--dark-blue);
}

.NewStory-title,
.NewStory-content {
  border: none;
  border-bottom: 2px solid var(--primary);
  font-family: inherit;
  max-width: 100%;
}

.NewStory-content {
  height: 80px;
}

.NewStory-button {
  color: var(--primary);
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: var(--l);
}
.NewStory-button:hover {
  opacity: 0.5;
}
.NewStory-button:active {
  transform: scale(0.9);
}

.NewStory-title:focus,
.NewStory-content:focus {
  outline: none;
}

.NewStory-title::placeholder,
.NewStory-content::placeholder {
  font-style: italic;
}
